.diagram-container{
	background: #333333;
	width: 90%;
	height: 90%;
}

.App {
  text-align: center;
}

#root{
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

